<div class="card card--stacked">
  <div class="field-grid">
    <div class="field">
      <%= form.label :code, t("accounts.form.code") %>
      <%= form.text_field :code, required: true %>
    </div>
    <div class="field">
      <%= form.label :name, t("accounts.form.name") %>
      <%= form.text_field :name, required: true %>
    </div>
    <div class="field">
      <%= form.label :category, t("accounts.form.category") %>
      <%= form.select :category, Account::CATEGORIES.map { |c| [t("accounts.categories.#{c}"), c] }, {}, required: true %>
    </div>
    <div class="field">
      <%= form.label :parent_code, t("accounts.form.parent") %>
      <%= form.select :parent_code,
          options_for_select([ [t("accounts.form.no_parent"), nil] ] + @accounts.map { |a| ["#{a.code} #{a.name}", a.code] }, form.object.parent_code) %>
    </div>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn--primary"><%= t("accounts.form.submit") %></button>
    <%= link_to t("accounts.form.back"), accounts_path, class: "btn btn--ghost" %>
  </div>
</div>
